* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/Useful[!!-~]notes -text
/apertium-kaz-rus.kaz-rus.dix -text
/apertium-kaz-rus.kaz-rus.lrx -text
/apertium-kaz-rus.kaz-rus.t1x -text
/apertium-kaz-rus.kaz-rus.t2x -text
/apertium-kaz-rus.kaz-rus.t3x -text
/apertium-kaz-rus.kaz-rus.t4x -text
/apertium-kaz-rus.rus-kaz.t1x -text
/apertium-kaz-rus.rus-kaz.t2x -text
/apertium-kaz-rus.rus-kaz.t3x -text
/apertium-kaz-rus.rus-kaz.t4x -text
/autogen.sh -text
/configure.ac -text
/cover-rus.sh -text
dev/README -text
dev/apertium-patch/apertium-diff -text
dev/apertium-patch/lttoolbox-diff -text
dev/apertium-patch/test/apertium-es-ca.es-ca.dix -text
dev/apertium-patch/test/reference -text
dev/apertium-patch/test/reference2 -text
dev/apertium-patch/test/test.rules.xml -text
dev/apertium-patch/test/testApertiumPatch.sh -text
dev/extract-rules-eng-kaz.sh -text
dev/extract-rules-from-gf-alignments.sh -text
dev/extract-rules.sh -text
dev/phrase-extraction/ACKNOWLEDGEMENTS -text
dev/phrase-extraction/AUTHORS -text
dev/phrase-extraction/COPYING -text
dev/phrase-extraction/ChangeLog -text
dev/phrase-extraction/INSTALL -text
dev/phrase-extraction/Makefile -text
dev/phrase-extraction/Makefile.am -text
dev/phrase-extraction/Makefile.in -text
dev/phrase-extraction/NEWS -text
dev/phrase-extraction/README -text
dev/phrase-extraction/aclocal.m4 -text
dev/phrase-extraction/apertium-transfer-tools-generalisation-1.0.pc -text
dev/phrase-extraction/apertium-transfer-tools-generalisation-1.0.pc.in -text
dev/phrase-extraction/autogen.sh -text
dev/phrase-extraction/autom4te.cache/output.0 -text
dev/phrase-extraction/autom4te.cache/output.1 -text
dev/phrase-extraction/autom4te.cache/requests -text
dev/phrase-extraction/autom4te.cache/traces.0 -text
dev/phrase-extraction/autom4te.cache/traces.1 -text
dev/phrase-extraction/config.log -text
dev/phrase-extraction/config.status -text
dev/phrase-extraction/configure -text
dev/phrase-extraction/configure.ac -text
dev/phrase-extraction/depcomp -text
dev/phrase-extraction/install-sh -text
dev/phrase-extraction/missing -text
dev/phrase-extraction/src/.deps/ATXReader.Po -text
dev/phrase-extraction/src/.deps/Alignment.Po -text
dev/phrase-extraction/src/.deps/AlignmentTemplate.Po -text
dev/phrase-extraction/src/.deps/AlignmentTemplateGeneralizer.Po -text
dev/phrase-extraction/src/.deps/AlignmentTemplateHandy.Po -text
dev/phrase-extraction/src/.deps/LexicalizedWords.Po -text
dev/phrase-extraction/src/.deps/PTXReader.Po -text
dev/phrase-extraction/src/.deps/SentenceAlignment.Po -text
dev/phrase-extraction/src/.deps/TablesCore.Po -text
dev/phrase-extraction/src/.deps/TransferRule.Po -text
dev/phrase-extraction/src/.deps/Utils.Po -text
dev/phrase-extraction/src/.deps/apertium-add-restrictions-to-sl.Po -text
dev/phrase-extraction/src/.deps/apertium-apply-biling.Po -text
dev/phrase-extraction/src/.deps/apertium-gen-transfer-from-aligment-templates.Po -text
dev/phrase-extraction/src/.deps/apertium-generalize-alignment-templates.Po -text
dev/phrase-extraction/src/.deps/apertium-posttransfer.Po -text
dev/phrase-extraction/src/.deps/apertium-symmetrize-alignments.Po -text
dev/phrase-extraction/src/.deps/apertium-xtract-alignment-templates.Po -text
dev/phrase-extraction/src/.deps/apertium-xtract-bilingual-phrases-koehn-2003.Po -text
dev/phrase-extraction/src/.deps/apertium-xtract-bilingual-phrases.Po -text
dev/phrase-extraction/src/.deps/zfstream.Po -text
dev/phrase-extraction/src/ATXReader.C -text
dev/phrase-extraction/src/ATXReader.H -text
dev/phrase-extraction/src/Alignment.C -text
dev/phrase-extraction/src/Alignment.H -text
dev/phrase-extraction/src/AlignmentTemplate.C -text
dev/phrase-extraction/src/AlignmentTemplate.H -text
dev/phrase-extraction/src/LexicalizedWords.C -text
dev/phrase-extraction/src/LexicalizedWords.H -text
dev/phrase-extraction/src/Makefile -text
dev/phrase-extraction/src/Makefile.am -text
dev/phrase-extraction/src/Makefile.in -text
dev/phrase-extraction/src/PTXReader.C -text
dev/phrase-extraction/src/PTXReader.H -text
dev/phrase-extraction/src/SafeGetline.h -text
dev/phrase-extraction/src/SentenceAlignment.C -text
dev/phrase-extraction/src/SentenceAlignment.H -text
dev/phrase-extraction/src/TablesCore.C -text
dev/phrase-extraction/src/TablesCore.H -text
dev/phrase-extraction/src/TransferRule.C -text
dev/phrase-extraction/src/TransferRule.H -text
dev/phrase-extraction/src/Utils.C -text
dev/phrase-extraction/src/Utils.H -text
dev/phrase-extraction/src/apertium-add-restrictions-to-sl -text
dev/phrase-extraction/src/apertium-add-restrictions-to-sl.C -text
dev/phrase-extraction/src/apertium-apply-biling -text
dev/phrase-extraction/src/apertium-apply-biling.C -text
dev/phrase-extraction/src/apertium-gen-transfer-from-aligment-templates -text
dev/phrase-extraction/src/apertium-gen-transfer-from-aligment-templates.C -text
dev/phrase-extraction/src/apertium-posttransfer -text
dev/phrase-extraction/src/apertium-posttransfer.C -text
dev/phrase-extraction/src/apertium-posttransfer.dtd -text
dev/phrase-extraction/src/apertium-preprocess-corpus-transfer-at -text
dev/phrase-extraction/src/apertium-switch-alignments -text
dev/phrase-extraction/src/apertium-symmetrize-alignments -text
dev/phrase-extraction/src/apertium-symmetrize-alignments.C -text
dev/phrase-extraction/src/apertium-transfer-at.dtd -text
dev/phrase-extraction/src/apertium-validate-posttransfer -text
dev/phrase-extraction/src/apertium-validate-transfer-at -text
dev/phrase-extraction/src/apertium-xtract-bilingual-phrases -text
dev/phrase-extraction/src/apertium-xtract-bilingual-phrases-koehn-2003 -text
dev/phrase-extraction/src/apertium-xtract-bilingual-phrases-koehn-2003.C -text
dev/phrase-extraction/src/apertium-xtract-bilingual-phrases.C -text
dev/phrase-extraction/src/configure.H -text
dev/phrase-extraction/src/configure.H.in -text
dev/phrase-extraction/src/giza++A3-to-apertium -text
dev/phrase-extraction/src/giza++A3-to-apertium.awk -text
dev/phrase-extraction/src/preprocess-corpus.awk -text
dev/phrase-extraction/src/stamp-h1 -text
dev/phrase-extraction/src/switch-alignments.awk -text
dev/phrase-extraction/src/validate-xml-dtd.sh -text
dev/phrase-extraction/src/zfstream.C -text
dev/phrase-extraction/src/zfstream.H -text
dev/phrase-extraction/transfer-tools-scripts/Makefile -text
dev/phrase-extraction/transfer-tools-scripts/alignmentsToBeamSearchInput.sh -text
dev/phrase-extraction/transfer-tools-scripts/apertium-br-fr.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-br-fr.transfer-at.br-fr.atx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-br-fr.transfer-at.fr-br.atx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-ca-es.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-en-es.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-en-es.transfer-at.en-es.atx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-en-es.transfer-at.es-en.atx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-en-fr.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-eng-kaz.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-es-ca.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-es-ca.transfer-at.ca-es.atx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-es-ca.transfer-at.es-ca.atx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-es-en.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-fr-br.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/apertium-xtract-bilingual-phrases-wrapper.sh -text
dev/phrase-extraction/transfer-tools-scripts/apertium-zho-spa.posttransfer.ptx -text
dev/phrase-extraction/transfer-tools-scripts/countTimesAttributeChanges.sh -text
dev/phrase-extraction/transfer-tools-scripts/empty-rules-for-translating.t1x -text
dev/phrase-extraction/transfer-tools-scripts/extract-phrases-v3.sh -text
dev/phrase-extraction/transfer-tools-scripts/filter_alignment_templates.awk -text
dev/phrase-extraction/transfer-tools-scripts/generateCorpusFromBildic.sh -text
dev/phrase-extraction/transfer-tools-scripts/gfBiphrasesToTransferToolsFormat.sh -text
dev/phrase-extraction/transfer-tools-scripts/lemmatizeCorpus.sh -text
dev/phrase-extraction/transfer-tools-scripts/linkToWorkDir.sh -text
dev/phrase-extraction/transfer-tools-scripts/lowercase.perl -text
dev/phrase-extraction/transfer-tools-scripts/markers -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_br_br-fr.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_br_fr-br.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_ca.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_ca_ca-es.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_ca_es-ca.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_en_en-es.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_en_en-fr.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_en_es-en.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_en_fr-en.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_es_ca-es.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_es_en-es.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_es_es-ca.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_es_es-en.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_fr_br-fr.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_fr_en-fr.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_fr_fr-br.sh -text
dev/phrase-extraction/transfer-tools-scripts/preprocess_fr_fr-en.sh -text
dev/phrase-extraction/transfer-tools-scripts/processBilphrases.sh -text
dev/phrase-extraction/transfer-tools-scripts/processBilphrasesFromGF.sh -text
dev/phrase-extraction/transfer-tools-scripts/trainGIZA++.sh -text
dev/rule-generalisation/addDebugInfoToTransferRules-debug.py -text
dev/rule-generalisation/addDebugInfoToTransferRules.py -text
dev/rule-generalisation/addGeneralisedLeftSide.py -text
dev/rule-generalisation/addPosAndRestrictionsStr.py -text
dev/rule-generalisation/addWordInforToReport.py -text
dev/rule-generalisation/beamSearch.py -text
dev/rule-generalisation/beamSearch.sh -text
dev/rule-generalisation/beamSearchLib.py -text
dev/rule-generalisation/calculateStatsForPairedBootstrapResampling.sh -text
dev/rule-generalisation/chooseATs.py -text
dev/rule-generalisation/collapseSourcetarget.py -text
dev/rule-generalisation/computeSupersetsOfKeySegments.py -text
dev/rule-generalisation/copyToCluster.sh -text
dev/rule-generalisation/countCoverageAllSystems.sh -text
dev/rule-generalisation/countCoverageAllSystemsTT1.sh -text
dev/rule-generalisation/countMaxInputATs.sh -text
dev/rule-generalisation/countPruningAllSystems.sh -text
dev/rule-generalisation/countTimesAttributeChanges.py -text
dev/rule-generalisation/createFilteringDirFromAtAlternativeSelectionResult.sh -text
dev/rule-generalisation/createHTMLTableFromFrequentRules.sh -text
dev/rule-generalisation/createModeForBeamSearchEvaluation.sh -text
dev/rule-generalisation/createModeNoRules.sh -text
dev/rule-generalisation/createModeWithLearnedRules.sh -text
dev/rule-generalisation/createNewWorkDirWithUnfinishedWork.sh -text
dev/rule-generalisation/createNewWorkDirWithUnfinishedWorkFromUnfinished.sh -text
dev/rule-generalisation/drawAlignments.py -text
dev/rule-generalisation/empty-rules-for-translating.t1x -text
dev/rule-generalisation/evaluate-experiment-linear-v5.sh -text
dev/rule-generalisation/evaluateAllSystems.sh -text
dev/rule-generalisation/evaluateAllSystemsTT1.sh -text
dev/rule-generalisation/evaluateBeamSearchHypothesis.sh -text
dev/rule-generalisation/evaluateBootstrapAllSystems.sh -text
dev/rule-generalisation/evaluateWithAsiya.sh -text
dev/rule-generalisation/extractExamplesMatchingRules.sh -text
dev/rule-generalisation/extractPhrases.py -text
dev/rule-generalisation/filter-and-linear-prog-incremental-parallel-v6.sh -text
dev/rule-generalisation/filterAlignmentTemplates.py -text
dev/rule-generalisation/filterBilphrasesMatchingAT.py -text
dev/rule-generalisation/genXMLFileForEvaluation.sh -text
dev/rule-generalisation/generateLog-v11.pl -text
dev/rule-generalisation/generateMultipleATsFromBilphrases.py -text
dev/rule-generalisation/generateOneATFromBilphrases.py -text
dev/rule-generalisation/getNumBilphrasesAllSizes.sh -text
dev/rule-generalisation/getNumRulesAllSystems.sh -text
dev/rule-generalisation/getNumRulesAllSystemsTT1.sh -text
dev/rule-generalisation/getTuningFromCluster.sh -text
dev/rule-generalisation/getUnfinishedParts.sh -text
dev/rule-generalisation/launchProcessDynamic.sh -text
dev/rule-generalisation/listTagsequencesFromDictionary.sh -text
dev/rule-generalisation/maximiseScore.py -text
dev/rule-generalisation/mteval-v11b-nosgm.sh -text
dev/rule-generalisation/mteval-v11b.pl -text
dev/rule-generalisation/mteval-v13-nosgm-segments.sh -text
dev/rule-generalisation/mteval-v13.pl -text
dev/rule-generalisation/myExperiment-cluster-v5.sh -text
dev/rule-generalisation/normalize-punctuation.perl -text
dev/rule-generalisation/printStatisticisAntiphrases.py -text
dev/rule-generalisation/processBilphrases.py -text
dev/rule-generalisation/reArrangeGeneralisation.sh -text
dev/rule-generalisation/removeBilphraseConflictsWithWordId.py -text
dev/rule-generalisation/removeDebugInfoFromTransfer.py -text
dev/rule-generalisation/removeExplicitEmptuTagsFromPatternTLandRest.py -text
dev/rule-generalisation/removeRedundantRules.sh -text
dev/rule-generalisation/ruleLearningLib.py -text
dev/rule-generalisation/run-all-steps-on-cluster.sh -text
dev/rule-generalisation/run-experiment-linear-incremental-parallel-v8.sh -text
dev/rule-generalisation/selectBoxesFromAlternativeAlignmentOptions.sh -text
dev/rule-generalisation/selectFromAlternativeAtSets.py -text
dev/rule-generalisation/selectRulesMaximiseScore.sh -text
dev/rule-generalisation/shflags -text
dev/rule-generalisation/spreadBilphrases.py -text
dev/rule-generalisation/summarizeReport.py -text
dev/rule-generalisation/taggroups_br-fr -text
dev/rule-generalisation/taggroups_ca-es -text
dev/rule-generalisation/taggroups_en-es -text
dev/rule-generalisation/taggroups_en-fr -text
dev/rule-generalisation/taggroups_eng-kaz -text
dev/rule-generalisation/taggroups_es-ca -text
dev/rule-generalisation/taggroups_es-en -text
dev/rule-generalisation/taggroups_kaz-eng -text
dev/rule-generalisation/taggroups_zho-spa -text
dev/rule-generalisation/tagsequences_br-fr -text
dev/rule-generalisation/tagsequences_ca-es -text
dev/rule-generalisation/tagsequences_en-es -text
dev/rule-generalisation/tagsequences_en-fr -text
dev/rule-generalisation/tagsequences_eng-kaz -text
dev/rule-generalisation/tagsequences_es-ca -text
dev/rule-generalisation/tagsequences_es-en -text
dev/rule-generalisation/tagsequences_zho-spa -text
dev/rule-generalisation/tercom.7.25.jar -text
dev/rule-generalisation/testTagsGroupsSeqs.py -text
dev/rule-generalisation/translate_apertium.sh -text
dev/rule-generalisation/tsort.py -text
dev/rule-generalisation/tune-experiment-linear-incremental-parallel-v8.sh -text
dev/rule-generalisation/uniqSum.py -text
dev/rule-generalisation/unitTests.py -text
dev/test/consumer-eroski.dev.ca -text
dev/test/consumer-eroski.dev.es -text
dev/test/consumer-eroski.test.ca -text
dev/test/consumer-eroski.test.es -text
dev/test/result-f-0.80.gz -text
dev/test/train.ca -text
dev/test/train.es -text
devel/adjec1.awk -text
devel/adjec2.awk -text
devel/adjec3.awk -text
devel/adjectives.csv -text
devel/noun.awk -text
/modes.xml -text
