* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/NEWwords.txt -text
/README -text
/Useful[!!-~]notes -text
/apertium-kaz-rus.kaz-rus.dix -text
/apertium-kaz-rus.kaz-rus.lrx -text
/apertium-kaz-rus.kaz-rus.t1x -text
/apertium-kaz-rus.kaz-rus.t2x -text
/apertium-kaz-rus.kaz-rus.t3x -text
/apertium-kaz-rus.kaz-rus.t4x -text
/apertium-kaz-rus.rus-kaz.lrx -text
/apertium-kaz-rus.rus-kaz.t1x -text
/apertium-kaz-rus.rus-kaz.t2x -text
/apertium-kaz-rus.rus-kaz.t3x -text
/apertium-kaz-rus.rus-kaz.t4x -text
/autogen.sh -text
/configure.ac -text
/cover-rus.sh -text
devel/adjec1.awk -text
devel/adjec2.awk -text
devel/adjec3.awk -text
devel/adjectives.csv -text
devel/noun.awk -text
/modes.xml -text
texts/rus.txt -text svneol=unset#application/octet-stream
texts/texts.kaz -text svneol=unset#application/octet-stream
texts/texts.rus -text svneol=unset#application/octet-stream
